---
import Matches from "../../components/matches/ListMatches.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="FutScores">
  <main>
    <section class="instructions">
      <h2>Cómo Funciona</h2>
      <p>
        Como publicador de eventos deportivos, puedes compartir actualizaciones
        de partidos en tiempo real con tus seguidores. Para ello, sigue estos
        pasos:
      </p>
      <ul class="list-disc pl-5">
        <li class="list-item mb-2">
          Selecciona o crea un partido de la lista de abajo.
        </li>
        <li class="list-item mb-2">
          Al hacer clic en un partido, serás redirigido a la página de detalles
          del partido, donde podrás publicar los eventos que ocurran.
        </li>
      </ul>
      <p>
        Esta interacción está gestionada por nuestra tecnología de <strong
          >RabbitMQ</strong
        >.
      </p>
    </section>

    <Matches type="pub" />

    <button
      style="position: fixed; bottom: 40px; right: 40px;"
      class="bg-green-500 text-white py-4 px-8 rounded flex items-center text-lg"
    >
      <a href="/pub/matches/create"><b>+ Crear partido</b></a>
    </button>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.6;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: linear-gradient(
      45deg,
      rgba(30, 116, 30, 0.1),
      rgba(241, 245, 3, 0.05)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }

  .instructions strong {
    color: green;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
  }
</style>
