---
import Card from "./CardMatch.astro";
import { getMatches } from "../../backend/matchesService";

interface Props {
  type: string;
}

const { type } = Astro.props;

let matches = await getMatches();
if (matches == null) {
  matches = [];
}
---

<section class="matches-section">
  <h2>Partidos Disponibles</h2>
  <ul role="list" class="link-card-grid">
    {matches.map((match) => <Card key={match.id} match={match} type={type} />)}
  </ul>
</section>
