<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<header transition:persist="">
    <div class="header-content">
        <h1><a href="/"><span class="fut">Fut</span><span class="scores">Scores</span></a></h1>
    </div>
</header>

<style>
    h1 {
        font-size: 4rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 1rem;
    }
    header {
        background: linear-gradient(90deg, #28a745, #218838); /* Gradiente verde */
        color: white;
        padding: 2rem 0; /* Aumentar el padding */
        text-align: center;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra */
        position: relative;
    }
    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header h1 {
        margin: 0;
        font-size: 3rem; /* Ajustar tamaño del texto */
        font-weight: 700;
        text-transform: uppercase; /* Texto en mayúsculas */
        letter-spacing: 2px; /* Espaciado entre letras */
    }
    .fut {
        color: #022c04; /* Color para "Fut" */
    }
    .scores {
        color: #ffffff; /* Color para "Scores" */
    }
</style>